<div class="container" id="header">
    <div>Scheduler</div>
    
    
    <!-- With menu-highlighter directive -->
    <ul class="nav navbar-nav nav-pills navBarPadding"
        data-menu-highlighter data-highlight-class-name="active">
        <li><a href="#/home">Home</a></li>
        <li><a href="#/login">Login</a></li>
        <li><a href="#/buildings">Buildings</a></li>
        <li><a href="#/rooms">Rooms</a></li>
        <li><a href="#/users">Users</a></li>
        <li><a href="#/persons">Persons</a></li>
        <li><a href="#/about">About</a></li>
        <li id="nav-login" data-ng-click="loginOrOut()">
             <!--href not used but needed to compare against path in menu-highlighter  -->
            <a data-href="#/login">{{ loginLogoutText }}</a>
        </li>
    </ul>
</div>