<div ng-controller="roomsController">
    <form class="well">
        <label>Room Name</label>
        <input type="text" name="roomname" ng-model="newroom.roomname" />
        <br/>
        <input type="button" value="Save" ng-click="createroom()" class="btn btn-primary" />
    </form>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Room Name</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="room in rooms">
                <td>{{ room.roomname }}</td>
                <td> 
                    <input type="button" value="Edit" ng-click="updateroom(room.roomid)" class="btn btn-primary" />
                    <input type="button" value="Delete" ng-click="deleteroom(room.roomid)" class="btn btn-primary" />
                </td>
            </tr>
        </tbody>
    </table>
</div>